services:
  _defaults:
    autowire: true
    autoconfigure: true

  # Auto-register all services in src/
  Soleinjast\ValidationResponse\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/ValidationResponseBundle.php'

  # Formatters
  Soleinjast\ValidationResponse\Formatter\SimpleFormatter: ~
  Soleinjast\ValidationResponse\Formatter\RFC7807Formatter: ~
  Soleinjast\ValidationResponse\Formatter\SimpleNestedFormatter: ~

  # Event Listener
  Soleinjast\ValidationResponse\EventListener\ValidationExceptionListener:
    arguments:
      $formatter: '@Soleinjast\ValidationResponse\Formatter\SimpleFormatter'
      $statusCode: 422
    tags:
      - { name: kernel.event_subscriber }

  # Console Command
  Soleinjast\ValidationResponse\Command\TestValidationCommand:
    arguments:
      $formatter: '@Soleinjast\ValidationResponse\Formatter\SimpleFormatter'
